<% provide(:title, 'The Internship') %>

  <h1>The Internship</h1>

  <div class="container-fluid">
    <div class="row-fluid">
      <ul class="alert_info">
        <table style="width: 940px">
          <tr>
            <td style="width: 500px">
                <p class="alert_info_text">
		 The project proposed by ALERT has its INTER-ALERT® product as the main target.
The INTER-ALERT is a software developed by ALERT and plays the function of an Enterprise Service Bus, but only in  environments where one or more ALERT products are implemented. So INTER-ALERT® plays a central role in a clinical environment with where ALERT solutions are implemented, ensuring that any clinical informantion with its origin from or to ALERT software is allways delivered to its destiny. 
                </p>     
		<p class="alert_info_text">
Being INTER-ALERT® a core product on ALERT strategy, the project proposed consists in two main topics, develop a module to manage the data comunication channels used by INTER-ALERT® and other module to analyse the performance of the message handling done by INTER-ALERT®.
		</p> 
		<p class="alert_info_text">

This will provide tools to ALERT support teams, so they can manage comunications channels and do message monitoring in a more efficient way that what is being done now. 
		</p>
            </td>
            <td style="width: 440px">
                <img style="margin-bottom: 40px" src="/assets/alert_logo_info_page.jpg"/>
                <p style="text-align: center; font-size: 50px">
			INTER-ALERT®
		</p>   
            </td>
          </tr>
        </table> 
      </ul>
    </div>
  </div>

