<% provide(:title, 'About ALERT Life Sciences Computing') %>

  <h1>ALERT Life Sciences Computing, S.A.</h1>

  <div class="container-fluid">
    <div class="row-fluid">
      <ul class="alert_info">
        <table style="width: 940px">
	  <tr>
	    <td style="width: 500px">
		<p class="alert_info_text">
Formerly known as MNI - Médicos Na Internet, ALERT Life Sciences Computing, S.A. is the parent company of the ALERT Group. It is entirely dedicated to the development, distribution and implementation of ALERT® clinical software to create paper-free clinical environments.</p>

<p class="alert_info_text">Based in Porto, the parent company started its activity in December 1999. It currently has a multidisciplinary team that includes physicians, designers, architects, engineers, mathematicians and managers.</p>

<p class="alert_info_text">ALERT Life Sciences Computing, S.A. is a privately owned company.</p>

<p class="alert_info_text">With a turnover above 42.6 million Euros in 2009, ALERT has reported a significant increase in sales every year. This increase results from the company's high investment in developing and commercializing quality products.</p>

<p class="alert_info_text">ALERT Life Sciences Computing, S.A. integrates COTEC's innovative SME network and the company's training methodology was selected by the European Social Fund to integrate two publications that exemplify success stories.</p>

<p class="alert_info_text">The company is a HIMSS (Healthcare Information and Management Systems Society) Platinum Corporate Member and has been taking part in the IHE (Integrating the Healthcare Enterprise) initiatives. ALERT® has obtained several interoperability certifications.</p>
	      </p>	
            </td>
	    <td style="width: 440px">
                <img style="margin-bottom: 40px" src="/assets/alert_logo_info_page.jpg"/>
 		
		<img src="/assets/alert_building.png"/>
                <p style="font-size: 10px; text-align: center"> ALERT Life Sciences Computing, S.A. Vila Nova de Gaia Offices</p>
            </td>
          </tr>
	</table> 
      </ul>
    </div>
  </div>

