<% provide(:title, 'ISPGaya') %>

  <h1>ISPGaya</h1>

  <div class="container-fluid">
    <div class="row-fluid">
      <ul class="alert_info">
        <table style="width: 940px">
          <tr>
            <td style="width: 500px">
                <p class="alert_info_text">
	          ISPGaya is a Superior Polytechnic Institute situated in Vila Nova de Gaia, which promotes several study plans, from Engineering courses to Social Service courses.
Currently ISPGaya has to offer to its students 13 courses with Licentiate degree and 8 courses with a Masters degree.
		</p>
<p class="alert_info_text" style="font-weight:bold">
Licentiate degree courses:<br>
</p>
<p class="alert_info_text">
- Electronic and Automation Engeneering<br>
- Computer Sciences Engineering<br>
- Mechanical Engineering<br>
- Industrial Management Engineering<br>
- Telecomunications and Computers Engineering<br>
- Renovable Energies Engineering<br>
- Computer Sciences for Managment<br>
- Accounting and Management<br>
- Management<br>
</p>
<p class="alert_info_text">
- Public Administration<br>
- Tourism<br>
- Social Service<br>
</p>
<p class="alert_info_text">
- Basic Education<br>
</p>

<p class="alert_info_text" style="font-weight: bold">
Masters degree courses:<br>
</p>
<p class="alert_info_text">
- Pré-scholar Education<br>
- Network Administration and Computer Systems<br>
- Energy Management and Energetic Efficiency<br>
- Social Educative Intervention<br>
- Pré-scholar Education and Teaching 1st Cycle of Basic Education<br>
</p>
<p class="alert_info_text">
- Social Service<br>
- Social Gerontology<br>
- Human resources and Organizational Behaviour<br>
                </p>
            </td>
            <td style="width: 440px">
                <img style="margin-bottom: 40px" src="/assets/ispgaya_big.png"/>
		<img src="/assets/ispgaya.jpg"/>
                <p style="text-align: center">
                        ISPGaya Building
                </p>  
            </td>
          </tr>
        </table> 
      </ul>
    </div>
  </div>


