<% provide(:title, '') %>
    <div class="container-fluid">
      <div class="row-fluid">
       <div class="span2">
       </div>
       <div class="span10">
         <p id="home_text">This section is currently under construction</p>
      </div>
     </div>
   </div>
   
 

  





