<% provide(:title, 'Projects') %>
<div class="center hero-unit">
  <h1>Here are the projects i have been working on</h1>
  <h2> Updated as of <%= current_time %> </h2>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/assets/bootstrap-tooltip.js "></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-popover.js "></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tab.js "></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-transition.js "></script>



<div class="container-fluid">
    <div class="row-fluid">
       <div class="span2">
            <p></p>
      	    <div class="tabbable tabs-left teste"> 
    	      <ul class="nav nav-tabs myTab">
                <li class="active"><a href="#tab1" data-toggle="tab">Digital Systems</a></li>
                <li><a href="#tab2" data-toggle="tab">Databases</a></li>
		<li><a href="#tab3" data-toggle="tab">Networks</a></li>
                <li><a href="#tab4" data-toggle="tab">Programming</a></li>
	        <li><a href="#tab5" data-toggle="tab">Web Development</a></li>
              </ul>
            </div>	

	
       </div> 

     	<div class="span10">
     <p><br></p> 

	<div class="tab-content">
          <div class="tab-pane active fade in" id="tab1">
	    <p class="curriculum_separator">Digital Systems</p>
	    
            <p class="curriculum_employers"><b>Binary Clock</b></p>
	    <p class="curriculum_roles"><b>Objective:</b></p>
	    <p class="curriculum_roles text_align_projects">The purpose of the project was to design a 24:00h binary clock with seconds, minutes and hours.
             <br>It was required that it could alert precisely with a sound signal every 15m, 30m and 45m, all with dfferent sounds, 
                and a continuous 2 second sound every 60m.
          
	    <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">At the concept level, i have used Moore state machines and "D" Flip-Flops.
	      <br>Among the tools used are, Xilinx ISE 10.1 IDE for the development and a Xilinx XA9572XL chip from the 9500XL family of CPLD's.
	    </p> 
         
	  <p class="curriculum_roles"><b>Images:</b></p>
	  

            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="cpld1" rel="popover" class="thumbnail geral"><img src="/assets/cpld1.jpg" alt="cpld1"></a>
              </li>	
	      <li class="span3">
                <a href="#" id="cpld2" rel="popover" class="thumbnail geral"><img src="/assets/cpld2.jpg" alt="cpld2"></a>
              </li>
              <li class="span3">
                <a href="#" id="cpld3" rel="popover" class="thumbnail geral"><img src="/assets/cpld3.jpg" alt="cpld3"></a>
              </li>

 	    </ul>

       <p><br></p>
	  <p class="curriculum_employers"><b>RGB Led Controller</b></p>
	  <p class="curriculum_roles"><b>Objective:</b><p>
          <p class="curriculum_roles text_align_projects">This project consisted in build an RGB led luminosity controller.<br>
	    The control of the luminosity was handled by two buttons, one for increment and other for decrement. There was also programmed one
	    button for reset the system, and two switches to handle 3 diferent features, like strob and luminosity patterns. I have included too a 7-Segment Display
	     to give information about the selected colors</p> 
         
	  <p class="curriculum_roles"><b>Methodology</b></p>
	  <p class="curriculum_roles text_align_projects">Once more i used the Xilinx platform to develop the project, with Xilinx ISE 10.1 IDE.<br>VHDL was
	   the programming language of choice and the platform choosed was the Xilinx Spartan3 FPGA.</p>


        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="fpga1" rel="popover" class="thumbnail fpga"><img src="/assets/fpga1.jpg" alt="fpga1"></a>
              </li>
              <li class="span3">
                <a href="#" id="fpga2" rel="popover" class="thumbnail fpga"><img src="/assets/fpga2.jpg" alt="fpga2"></a>
              </li>
              <li class="span3">
                <a href="#" id="fpga3" rel="popover" class="thumbnail fpga"><img src="/assets/fpga3.jpg" alt="fpga3"></a>
              </li>
            </ul>
        <p><br></p>


        </div>  
        <div class="tab-pane fade in" id="tab2">
	  <p class="curriculum_separator">Databases</p>

	    <p class="curriculum_employers"><b>Digital Print Systems</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Build a complete database system to handle sales activities in the digital printing business.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
	    <p class="curriculum_roles text_align_projects">At the concept leve, UML diagrams like use case diagrams, sequence diagrams and class diagrams were heavly               used.<br>For the modelation the program used was Visual Paradigm.<br>SQL was used for table creations, constraints, triggers and queries.<br>The DBMS                  used for the implementation was SQL Server 2008 R2.</p>

	<p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/bd1.png" alt="bd1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/bd2.jpg" alt="bd2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/bd3.jpg" alt="bd3"></a>
              </li>
            </ul>
        <p><br></p>

	</div>
	

        <div class="tab-pane fade in" id="tab3">
          <p class="curriculum_separator">Networks</p>

            <p class="curriculum_employers"><b>Clinic Network</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Conceptualize and develop a network between two clinics in two different geographic zones.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">Among the requirements, we have for example:<br>The three types of users that usually attend the clinic ( patients, employees and doctors ) could not access each other computers.<br>Only doctors can access the datacenter.<br>It was used three distinc VLANS. One for the patients, one for the employees and another for doctors.<br>To control the access to the resources, ACLS were used.<br>Cisco Packet Tracer 5.3 was the tool of choice to design the solution.</p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="ntw1" rel="popover" class="thumbnail bd"></a>
              </li>
              <li class="span3">
                <a href="#" id="ntw2" rel="popover" class="thumbnail bd"></a>
              </li>
              <li class="span3">
                <a href="#" id="ntw3" rel="popover" class="thumbnail bd"></a>
              </li>
            </ul>
        <p><br></p>

	<p class="curriculum_employers"><b>Create a Domain Controller</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Install and promote a windows 2003 Server to a domain Controller and configure some core services.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">- Installed and configured Windows Server 2003 as a domain controller.<br>
		- Created a DNS and Reverse DNS zone.<br>
		- Implementation of organizational units and security policies.<br>
		- Configured the domain controller as a RDP terminal server.<br>
		- Script initializations for the domain users.<br>
		- DHCP service configuration.<br>
		- Implementation of a chache proxy (SQUID).<br>
		- Configuration of a network attached storage with active directory integration (FreeNAS).<br>
		Oracle Virtualbox was used for the virtualization.</p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="ntw1" rel="popover" class="thumbnail bd"><img src="/assets/ntw1.png" alt="ntw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="ntw2" rel="popover" class="thumbnail bd"><img src="/assets/ntw2.jpg" alt="ntw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="ntw3" rel="popover" class="thumbnail bd"><img src="/assets/ntw3.jpg" alt="ntw3"></a>
              </li>
            </ul>
        <p><br></p>
	
	</div>

        <div class="tab-pane fade in" id="tab4">
          <p class="curriculum_separator">Programming</p>

            <p class="curriculum_employers"><b>Portuguese football league</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">The purpose was to develop an Java Class with some football team attributes and develop a program to calcul			ate the Portuguese Football league classifications.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">The program was developed in JavaSE (JDK6). The main purpose was to have an introduction to Object Oriented 		Programming, File I/O and Java Swing/AWT were also widely used in the implementation of the programm. Sorting and searching algorithms were analysed  		       to find which were the best to implement. </p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/tw1.png" alt="tw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/tw2.jpg" alt="tw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/tw3.jpg" alt="tw3"></a>
              </li>
            </ul>
        <p><br></p>

	<p class="curriculum_employers"><b>Agenda Application</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Develop a Java application to maintain one or various user calendar appointments.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">An Class was developed to handle the calendar appointments, every instance of the calendar appointment was 			put in a LinkedList. There were made two variations of the program, one with a LinkedList builded from scratch and other witch the Java Class         		       ArrayList. The main goal, was the introduction to data structures, in this case the LinkedList.<br>
		 The program was developed in JavaSE (JDK6). </p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/tw1.png" alt="tw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/tw2.jpg" alt="tw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/tw3.jpg" alt="tw3"></a>
              </li>
            </ul>
        <p><br></p>

	<p class="curriculum_employers"><b>Binary Tree</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Develop a Java application to analise a text and organize its words by alphabetic order. The number of     			occurrences, and the line of occurrence must also be associated with the word itself.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">The requirement was to store the words in a ordered Binary Tree. To best understand the binary tree        			structure, the binary tree was developed from scratch. Each node of the binary tree contained an ArrayList with the lines of occurrence of the word. 
                 The program was developed in JavaSE (JDK6). </p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/tw1.png" alt="tw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/tw2.jpg" alt="tw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/tw3.jpg" alt="tw3"></a>
              </li>
            </ul>
        <p><br></p>

	<p class="curriculum_employers"><b>Paint</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Develop a paint application in Java.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">This Java application was written using the Java2D API. Java2D primitives were used in the drawings.       			Inheritance and polymorphism were widely used in this project.<br>
                 The program was developed in JavaSE (JDK7). </p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/tw1.png" alt="tw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/tw2.jpg" alt="tw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/tw3.jpg" alt="tw3"></a>
              </li>
            </ul>
        <p><br></p>

	<p class="curriculum_employers"><b>J2ME Game</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Develop a game using Java ME.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">The game developed was a platform game, like Sonic or Super Mario. Specific Java ME classes like Canvas,   		       Sprite or TiledLayer were used. 
		Collision detection algorithms were writen from scratch to suit the game specifications.<br> 
		The program was developed using Java ME SDK 3.0 with CLDC-1.1 and MIDP-2.1.</p>

        <p class="curriculum_roles"><b>Images:</b></p>
    

            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/tw1.png" alt="tw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/tw2.jpg" alt="tw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/tw3.jpg" alt="tw3"></a>
              </li>
            </ul>
        <p><br></p>
	
	<p class="curriculum_employers"><b>Tag Cloud</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">Build a Java Applet application to develop a Tag Cloud from a random text. As requirements, the most                       frequent a word is, the bigger it has to be shown. Also the Tag Cloud should have some personalization in its presentation. A Heap and Heap sort were                  also requirements.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">Developed upon the binary tree project, the binary tree was converted in a Heap so it can be Heap sorted.   	       Java 2D was widely used to present the Tag Cloud to the user.<br>
		The program was developed in JavaSE (JDK6).</p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/tw1.png" alt="tw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/tw2.jpg" alt="tw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/tw3.jpg" alt="tw3"></a>
              </li>
            </ul>
        <p><br></p>

	<p class="curriculum_employers"><b>Object Oriented Programming Concepts</b></p>
            <p class="curriculum_roles"><b>Objective:</b></p>
            <p class="curriculum_roles text_align_projects">The aim is to develop a program in Java that exemplifies the concepts Oriented Programming.</p>
            <p class="curriculum_roles"><b>Methodology:</b></p>
            <p class="curriculum_roles text_align_projects">An application about musical instruments was built to exemplify the following concepts:<br>
		- Method Overload.<br>
		- Method Override.<br>
		- Inheritance.<br>
		- Interfaces.<br>
		- Polymorphism.<br>
		- Dinamy Method Lookup.<br>
		- Collections.<br>
		- Generic Classes.<br>
		- Exceptions.<br>
                The program was developed in JavaSE (JDK6).</p>

        <p class="curriculum_roles"><b>Images:</b></p>


            <ul class="thumbnails">
              <li class="span3">
                <a href="#" id="bd1" rel="popover" class="thumbnail bd"><img src="/assets/tw1.png" alt="tw1"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd2" rel="popover" class="thumbnail bd"><img src="/assets/tw2.jpg" alt="tw2"></a>
              </li>
              <li class="span3">
                <a href="#" id="bd3" rel="popover" class="thumbnail bd"><img src="/assets/tw3.jpg" alt="tw3"></a>
              </li>
            </ul>
        <p><br></p>
	

        </div>

		
	
	</div> <!-- tab-content-->
        </div> <!-- span10 -->
 	
      </div> <!-- row-fluid -->
    </div>  <!-- container fluid-->




<script>  
  $(function ()  
  { $("#cpld1").popover({trigger: 'hover', placement: 'bottom', content: 'Displaying the time 07:39:29'} );  
  });  
</script>

<script>  
  $(function ()  
  { $("#cpld2").popover({trigger: 'hover', placement: 'bottom', content: 'Displaying the time 10:47:43'} );  
  });  
</script>

<script>  
  $(function ()
  { $("#cpld3").popover({trigger: 'hover', placement: 'bottom', content: 'Displaying the time 22:07:43'} );  
  });  
</script>

<script>  
  $(function ()  
  { $("#fpga1").popover({trigger: 'hover', placement: 'bottom', content: 'Displaying the red led'} );  
  });  
</script>

<script>  
  $(function ()  
  { $("#fpga2").popover({trigger: 'hover', placement: 'bottom', content: 'Displaying the green led'} );  
  });  
</script>

<script>  
  $(function ()
  { $("#fpga3").popover({trigger: 'hover', placement: 'bottom', content: 'Displaying the blue led'} );  
  });  
</script>

<script> 
  var bd1 = '<img src="/assets/bd1.png" alt="bd1">'; 
  $(function ()  
  { $("#bd1").popover({trigger: 'hover', placement: 'bottom', content: 'Class Diagram' } );  
  });  
</script>

<script>  
  $(function ()  
  { $("#bd2").popover({trigger: 'hover', placement: 'bottom', content: 'Sequence diagram'} );  
  });  
</script>

<script>  
  $(function ()
  { $("#bd3").popover({trigger: 'hover', placement: 'bottom', content: 'Use case diagram'} );  
  });  
</script>


