@import "bootstrap";

/*mixins , variables, etc */

$grayMediumLight: #eaeaea;
$customButtonBlue: rgb(0,180,255);
$customTransparentBg: rgba(240,240,240,0.9); /*rgba accepts a transparent value*/


@mixin box_sizing {               /* Sass minix permits a group of css rules to be used in other elements, for example in .debug_dump below (cap 7)*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box_shadow {
  -moz-box-shadow: 0px 0px 5px #888;    /* Add shadowing to hero unit */
  -webkit-box-shadow: 0px 0px 5px #888;
  box-shadow: 0px 0px 5px #888;
}

/*General*/

/*
.container{
width:1200px;     			    /* Specifies the overall width of the page 
}
*/

/* top navbar */

.navbar{
    #navbar_separator{
	background-color: #D3D3D3;
        width:1px;
	height:30px;
	border:0px solid #D3D3D3; 
    	margin-top:4px;
    }			
}

body{
  height: 100%;
  margin-left:0px;
  background: url('fundo3.jpg') repeat-x;   /* Background image for the whole website */
  background-attachment:fixed;		    /* Fixs the backgroud */
  /*background-color: $grayMediumLight;
}

.teste{
border-color:green;
}


.myTab{					    /* Tab definitions */
margin-left:25px;
  li {  
        a{
        &:hover{
	color:black;
	background-color:white;
	       }
        }
  }
  .active a,
  .active a:hover{
	  outline:0; 
		 }
}





/* Home */

.center {

  text-align: left;
  height: 100px;			/* size of the zone of the hero unit */
  #signup_btn{
  margin-top: 30px;
  }

  h1 {                                  /* Header 1 of the home Page */
  text-align: left;
  margin-top: -60px;
  margin-bottom: 10px;
  }
  h2 {                                  /* Header 2 of the home Page */
  text-align: left;
  color: white;
  }
}

.row {
text-align: center;
}


#hu-home{
  text-align: top;
  padding: 110px;                        
  margin-bottom: 50px;
  margin-top: 45px;
  margin-left:-25px;
  background-repeat: no-repeat;
  background-image: url(hu1.png);
  background-position:center top;
  #home-technologies{
     margin-top: -70px; 
  }

}

#hu-curriculum{
  background-image: url(CV.png);
  background-position: right;
  background-color: white; 
  #cv-h2{
  color: gray;  
  } 
}

.hero-unit {                            /* Common Hero Units */
  /*height:10;*/
  padding: 80px;			
  margin-bottom: 50px;
  margin-top: 25px;
  background-color: $customTransparentBg;
  
background-repeat: no-repeat;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;			/* The radius make round corners */
  @include box_shadow;	
}



.container-fluid{			/* The container where the main subjects are placed */
   background-color: white;	
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid $customTransparentBg;
    @include box_shadow;  
   
   #nav_button {			/* Navigation buttons on the fluid layout */
    width: 120px;
    height: 28px;
    margin-top: 5px;
   }
 
   #home_text{
     font-size: 1.7em;
     letter-spacing: -1px;
      }

}


.span6{
width: 300px;
text-align: center;
 #button_lm{                            /* Button's "Learn more" of the home page"*/
   margin-top: 10px;
   &:hover{
        color: white;
        background: $customButtonBlue;
   }
 }
}


/* Curriculum & Projects*/

#curriculum_name{			/* Font used to write the name on the CV */
  font-size: 3.5em;
  letter-spacing: -1px;
}

.curriculum_separator{				
   font-size: 2.5em;
   border-bottom:1px solid blue;   	/* Underline below the curriculum separator words */
}

.ordinary_text{
   font-size: 1.5em;
}


.small_text{
   font-size: 1.0em;
}

.curriculum_employers{
   font-size: 2.0em;
}

.curriculum_roles{
   font-size: 1.8em;
}

.text_align_projects{
   margin-left:20px;
}

/* typografy */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;                            /* defenido no LESS no bootstrap */
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 40px;
  color: $grayLight;
}

h4 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {				/* customization of the "Ricardo Taboada" logo on the navbar */
  float: left;
  margin-left: 10px;
  font-size: 2.0em;
  color: #505050 ; /* normal color */
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 4px;            /* space between the top of the letters and the top of the navbar" */
  line-height: 1;
  &:hover {
    /*color: #303030  ;		/* color when highlighted */
    text-decoration: none;
  }
}

/*  footer */

#nav-footer {
margin-left: -25px;
margin-bottom: 0px;

text-align: center;
}

footer { 
  margin-top: 150px;
  margin-bottom: 0px; 
   a {
   color: $gray; /* built in color gray */
   &:hover {
    color: $grayDarker; /* grayDarker */
   }
 }
  .table-footer {
    margin-left: auto;
    margin-right: auto;
  }
}



/*Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
 }

/* Photos */

.thumbnail{
	  .geral{
  	   width:172px;
           height:104px;
		}
          .fpga{
               width:172px;
               height:280px;
               }  
}


/* JavaScript Elements */

.popover{              			/* Popover Styling */
        .arrow{
	              
              }
        .popover-inner{
		      .popover-title{
		      margin:0px;
				    }
	              }
	.popover-content{
	text-align:center;
			}
}
