 <footer class="navbar navbar-bottom" id="footer">
   <div class="container">
    <div class="navbar-inner">
      <div class="container">
        <%#<a href="ricardo.taboada@hotmail.com">2012-2013 Ricardo Taboada</a>%>
        <table class="table-footer" style="width: 940px; margin-top: 10px">
	  <tr>
	    <td align="left" style="font-weight:bold">Contacts</td><td align="right" style="font-weight: bold">Links</td>
	  </tr>
	</table>
        <p></p>
        <table class="table-footer" style="width: 920px">
	  <tr>
            <td align="left"><a href="mailto:ricardo.taboada@hotmail.com">@ Email</a></td><td align="right"><a href="http://www.ispgaya.pt">ISPGaya</a></td>
          </tr>

	  <tr>
            <td align="left"><img src="/assets/lin.png" alt="lin.png"><a href="http://pt.linkedin.com/in/ricardotaboada"> Linked In</a></td><td align="right"><a href="http://www.ruby-lang.org">Ruby</a></td>
	  </tr>
	  <tr>
            <td align="left"><img src="/assets/fb.png" alt="fb.png"><a href="http://www.facebook.com/ricardo.taboada.7"> facebook</a></td><td align="right"><a href="http://rubyonrails.org">Ruby on Rails</a></td>
          </tr>
	  <tr>
            <td align="left"><img src="/assets/gh.png" alt="gh.png"><a href="https://github.com/locrian"> GitHub</a></td><td align="right"><a href=""></a></td>
          </tr>
           <tr>
            <td align="left"><p></p></td><td></td>
          </tr>

	</table>
      </div>
    </div>
   </div>
  </footer>




    

