<div class="row features" id="home-technologies">
   <br><br>
   <%= link_to image_tag("alert2.png", alt: "Alert"), 'http://www.alert-online.com' %>
   <br>
      <div class="span6">
        <%= link_to image_tag("alert_icon.png", alt: "About ALERT"), about_alert_path %>
           <h3>About ALERT</h3>
      </div>
    
      <div class="span6">
        <%= link_to image_tag("techs.png", alt: "The Internship"), about_internship_path %>
             <h3>The Internship</h3>
      </div>

      <div class="span6">
         <%= link_to image_tag("ispgaya.png", alt: "ISPGaya"), about_ispgaya_path %>
             <h3>About ISPGaya</h3>
      </div>
 </div>

